// Color Palette
$primary-blue: 		#3498db;
$primary-green: 	#6AD69B;
$primary-black: 	#3A3839;

$soft-black: 		#222222;

// Social Media Colors
$dribbble:      	#ea4c89;
$twitter:       	#55acee;
$facebook:      	#3b5998;
$instagram:     	#3f729b;
$linkedin:      	#0976b4;
$pintrest:			#bd081c; 

$container-width:   960px;
$full: 				100%;

.content-container {
	margin: 0 auto;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
}