// ====================
// Color Palette
// ====================
$primary-blue: 		#3498db;
$primary-green: 	#6AD69B;
$pri-black: 	    #3A3839;

$pri-red: 			#ff4c49;
$pri-gold: 			#8C888C;
$pri-blue: 			#165863;

$soft-black: 		#222222;
$pure-white: 		#ffffff;
$off-white:			#f4f4f4;

// ====================
// Social Media Colors
// ====================
$dribbble:      	#ea4c89;
$twitter:       	#55acee;
$facebook:      	#3b5998;
$instagram:     	#3f729b;
$linkedin:      	#0976b4;
$github:			#4183c4;

// ====================
// Width's
// ====================
$container-width:   960px;
$full: 				100%;

// ====================
// Break Points
// ====================
$break1:			50em;
$break2:			40em;
$break3:			30em;
$break4:			25em;
$break6: 			60em;


.content-container {
	margin: 0 auto;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
}