// Button Stlyes
@import "helpers/_variables.scss";

/* Button One - MAIN */
.button {
	border: 1px solid $pure-white;
	background-color: rgba(255, 255, 255, 0);
	color: $pure-white;
	padding: 15px 15px;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 20px;
	margin: 0 auto;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	a {
		color: white;
		text-decoration: none;
		width: 100%;
		padding: 15px 15px;
	}
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.button:hover,
.button:active {
	color: #0e83cd;
	border-color: #3498db;

	a {
		font-weight: 100;
		color: $pure-white;
		background-color: #3498db;
	}
}
/* 
===============
Button One
===============
*/

.button-2 {
	border: 1px solid $primary-blue;
	padding: 15px 25px;
	background-color: rgba(255, 255, 255, 0);
	color: #FFF;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 10px;
	margin: 0 auto;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	a {
		color: $primary-blue;
		text-decoration: none;
	}
}
.button-2:after {
	content: '';
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1a */
.button-2:hover,
.button-2:active {
	color: #0e83cd;
	background: $primary-blue;
	a {
		font-weight: 100;
		color: white;
	}
}

/* Icon Down */
.hvr-icon-down {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	&:after {
		content: "\f01a";
		color: $primary-blue;
		padding-left: 10px;
		font-family: FontAwesome;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		font-size: 18px;
	}
}
.hvr-icon-down:hover:after, .hvr-icon-down:focus:after, .hvr-icon-down:active:after {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  color: white;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 5 */
.btn-5 {
	color: #fff;
	height: 50px;
	min-width: 100px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 150px;
	
	&:acive {
		background-color: $pri-red;
		top: 2px;
	}
	
	span {
		display: inline-block;
		width: 80%;
		height: 100%;
		-webkit-transition: all 0.3s;
		-webkit-backface-visibility: hidden;
		-moz-transition: all 0.3s;
		-moz-backface-visibility: hidden;
		transition: all 0.3s;
		backface-visibility: hidden;
		font-family: $font-sans-2;
		font-weight: 300;

	}

	&:before {
		position: absolute;
		height: 100%;
		width: 100%;
		line-height: 2.5;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.btn-5:active:before {
	color: $pure-white;
	background-color: $pri-red;
	border-radius: 150px;
}

/* Button 5a */
.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}
.icon-cart:before {
	content: "\f1d8";
	font-size: 20px;
}
//view more button
.btn-5b:hover span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.btn-5b:before {
	left: -100%;
	top: 0;
}

.btn-5b:hover:before {
	left: 0;
}
.icon-arrow:before {
	content:"\f18e";
	font-size: 20px;
}