// IMPORTS
// ====================
@import "helpers/_helpers.scss";
@import "helpers/_mixins.scss";
@import "helpers/_variables.scss";



.footer {
	width: $full;
	height: 60px;
	background-color: $pri-black;
	display: block;
	float: left;

	@media (max-width: $break2) {
		padding: 0;
		height: auto;
	}

	.left-col-footer {
		float: left;
		padding: 25px 0px 0px 10px;

		@media (max-width: $break2) {
			width: $full;
			display: block;
			padding: 15.5px 0px;
			text-align: center;
		}

		p {
			font-size: 10px;
			font-weight: 100;
			text-transform: uppercase;
			font-family: $font-sans-2;
			color: white;

			@media (max-width: $break2) {
				line-height: 15px;
				padding: 0px 15px;
			}

			span {
				font-weight: 500;
				a {
					color: white;
					@include transition-fast();

					&:hover {
						color: $pri-red;
					}
				}
			}
		}
	}

	.right-col-footer {
		float: right;
		padding: 22px 10px 0px 0px;

		@media (max-width: $break2) {
			width: $full;
			display: block;
			padding: 0;
		}

		.footer-media {
			float: right;
			display: block;
			margin: 0px 10px;

			@media (max-width: $break2) {
				width: $full;
				display: block;
				float: none;
				text-align: center;
				padding: 15px 0px;
				margin: 0;
				background-color: $pri-red;
			}
			
			a {
				padding: 10px;
				
				@media (max-width: $break2) {
					font-size: 30px;
					padding: 12px 15px;
				}

				li {
					display: inline-block;
					
					.fa-facebook, 
					.fa-twitter, 
					.fa-linkedin, 
					.fa-dribbble, 
					.fa-github {
						color: white;
						@include transition-fast();
					}
					
					.fa-facebook:hover {
						color: $facebook;
					}

					.fa-twitter:hover {
						color: $twitter;
					}

					.fa-linkedin:hover {
						color: $linkedin;
					}

					.fa-dribbble:hover {
						color: $dribbble;
					}

					.fa-github:hover {
						color: $github;
					}
				}
			}
		}
	}
}