body {
	background-color: rgba(0, 0, 0, .01);
}

.noshow {
	display: none;
}

.contact-page {
	max-width: 900px;
	margin: 5% auto;
	@media (max-width: $break2) {
		width: 100%;
		display: inline-block;
	}
}

.contact-form {
	width: $full;
	float: right;
	display: block;

	h2 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
		font-family: $font-sans-2;
		color: #323232;
		@media (max-width: $break2) {
			font-size: 180%;
			text-align: left;
			padding: 10px 0px 0px 10px;
		}
	}

	p {
		display: inline-block;
		text-align: center;
		padding: 10px 40px;
		font-family: $f-body;
		font-weight: 300;
		font-size: 19px;
		line-height: 30px;
		color: rgba(0, 0, 0, .7);
		@media (max-width: $break2) {
			// display: none;
			text-align: left;
			padding-left: 10px;
			font-size: 100%;
			line-height: 1.5;
		}
	}

	form {
		padding: 0px 10px;
		
		input, textarea {
			padding: 0px 0px 0px 10px;
			border: none;
			width: 98.5%;
			font-family: $font-sans-2;
			font-size: 16px;
			font-weight: 300;
			margin: 30px 0px 0px 0px;
			background-color: rgba(0, 0, 0, .02);
			box-shadow: 0px 0px 0p 2px rgba(0, 0, 0, 0);
			@include transition-fast();

			::-webkit-input-placeholder {
			    color: $pri-black;
			    font-size: 18px;
			    font-weight: 700;
			    font-family: $font-sans-2;
			    margin-left: 10px;
			}
		}

		input:focus {
			// @include boxshadow();
			box-shadow: 0px 0px 0px 2px $pri-gold;
			transition: box-shadow .3s;
			  -webkit-transition: box-shadow 0.3s;

			&::-webkit-input-placeholder {
				color: rgba(0, 0, 0, .2);
			}

			@media (max-width: $break2) {
				background-color: $pri-gold;

				&::-webkit-input-placeholder {
					color: rgba(255, 255, 255, .7);
				}
			}
		}

		textarea:focus {
			// @include boxshadow();
			box-shadow: 0px 0px 0px 2px $pri-gold;
			transition: box-shadow .3s;
			  -webkit-transition: box-shadow 0.3s;

		}

		.first {
			float: left;
			height: 50px;
		}

		.last {
			height: 50px;
			float: left;
		}

		.email {
			height: 50px;
		}

		.text-message {
			width: 98.5%;
			height: 200px;
			padding-top: 10px !important;
		}

		button {
			width: 200px;
			padding: 15px;
			margin: 30px 0px;
			border: none;
			float: right;
			background-color: $pri-red;
			color: $pure-white;
			cursor: pointer;
			font-size: 16px;
			text-transform: uppercase;
			@include transition-fast();

			&:hover {
				background-color: lighten($pri-gold, 10%);
			}
			&:active {
				background-color: $pri-red !important;
			}
			@media (max-width: $break2) {
				float: left;
				margin: 10% auto;
				width: $full;
			}
		}
	}
}
// .modal {
// 	background-color: #ccb770;
// 	width: 50%;
// 	height: 300px;
// 	padding: 20px;
// 	border-radius: 20px;
// 	text-align: center;
// 	position: fixed;
// 	top: 100%;
// 	transition: transform .65s cubic-bezier(0,1.19,.54,1.1), top .65s cubic-bezier(0,1.19,.54,1.1);
// 	transform: translateY(0);
// 	left: 25%;
// 	animation: fade 4s ease-in-out 4s;

// }
// .visible {
// 	top: 50%;
// 	transform: translateY(-50%);
// 	-webkit-transform: translateY(-50%);
// }

// Modal //
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* The modal's background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
  display: table;
  position: absolute;
}

/* The modal box */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 60%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

// Thanks SVG
.thank-you-svg {
	width: 90%;
	margin: 0 auto;
}