body {
	margin: 0;
	padding: 0;
	background-color: $off-white;
}

.web-frame {
	width: $full;
	display: block;
	@media (max-width: $break4) {
		float: left;
	}
}

.banner {
	width: 100%;
	background-image: url("../img/desk.jpeg");
	height: 400px;
	max-height: 400px;
	background-color: rgba(0, 0, 0, 0.2);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
	@media (max-width: $break2) {
		height: auto;
		background-color: $pri-gold;
	}
}

.skills {
	margin: 7% 0px;
	display: inline-flex;
	display: -webkit-inline-flex;
	width: $full;
	
	.skill {
		float: left;
		width: $container / 3;
		text-align: center;
		
		@media (max-width: $break6) {
			width: 50%;
			
			@media (max-width: $break2) {
				width: 100%;
			}
		}
		
		.content {
			padding: 10%;
			border-right: 1px solid #e6e6e6;
			border-bottom: 1px solid #e6e6e6;
			
			@media (max-width: $break6) {
				padding: 15%;
			} 
			@media (max-width: $break2) {
				padding: 5%;
			}
			
			h4 {
				font-family: $font-osw;
				font-size: 20px;
				text-transform: $transform-up;
				font-weight: 100;
				color: #2f2f2f;
				padding: 10px 0px;
				
				&:after {
				    display: block;
				    overflow: hidden;
				    margin: auto;
				    margin-top: 13px;
				    width: 70px;
				    height: 1px;
				    background: $soft-black;
				    content: '';
				    text-indent: -999em;
				}
			}
			
			p {
				margin: 10px 0px 0px 0px;
				line-height: 23px;
				font-family: $f-body;
				font-size: 14px;
				color: rgba(0, 0, 0, .6);
				font-weight: 100;
				@media (max-width: $break2) {
					font-size: 14px;
				}
			}
		}
	}
	
	
	.skill-three .content, .skill-six .content{
		border-right: none;
		
		@media (max-width: $break6) {
			border-right: 1px solid #e6e6e6;
		}
	}
	
	.skill-four .content, .skill-five .content, .skill-six .content {
		border-bottom: none;
		
		@media (max-width: $break6) {
			border-bottom: 1px solid #e6e6e6;
		}
	}
	
	.skill-four {
		clear: left;
		
		@media (max-width: $break6) {
			clear: none;
		}
	}
	
	.skill-one .content, .skill-three .content, .skill-five .content {
		border-left: none;
		
		@media (max-width: $break6) {
			border-left: 1px solid #e6e6e6;
		}
	}
	.skill-one .content, .skill-two .content {
		border-top: none;
		
		@media (max-width: $break6) {
			border-top: 1px solid #e6e6e6;
		}
	}

	.skill-one .content {
		@media (max-width: $break2) {
			border-bottom: none;
			border-top: none;
		}
	}
	.skill-six .content {
		@media (max-width: $break2) {
			border-bottom: none;
		}
	}
}

.svg-icons {
	width: 18%;
}

.home-projects {
	display: inline-block;
	margin: 0 auto;
	float: left;
	
	.projects {
		float: left;
		width: 25%;
		text-align: center;
		position: relative;

		figcaption {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .0;
			z-index: 100;
			transition: .4s ease;
			
			&:hover {
				background-color: $pri-red;
				
				@media (max-width: $break4) {
					background-color: transparent;
				}
			}
			
			&:hover {
				opacity: 1;
			}
			
			div {
				width: $full;
				height: 50%;
				position: absolute;
				bottom: 0;
				left: 0;
				
				@media (max-width: $break4) {
					display: none;
				}
				
				h2 {
					color: white;
					font-size: 20px;
					font-weight: 100;
					letter-spacing: 1px;
					text-transform: uppercase;
					font-family: $font-ant;
				}
			}
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
		@media (max-width: $break6) {
			width: 33.33333%;
		}

		@media (max-width: $break1) {
			width: 50%;
		}

		@media (max-width: $break4) {
			width: 93.75%;
			padding: 0px 10px 10px 10px;
			
			&:first-child {
				padding-top: 10px;
			}
		}

		img {
			width: $full;
			display: block;
			@include transition();
			@media (max-width: $break4) {
				display: inline-block;
			}
		}

		.project-content {
			display: block;
			width: $full;
			position: absolute;
			top: 50%;
			left: 0%;
		}
	}
}