.int-banner {
	width: $full;
	height: 300px;
	max-height: 400px;
	background-color: #f4f4f4;
}

.project-wrapper {
	margin: 5% auto;
	display: table;
	
	@media (max-width: 60em) {
		width: 100%;	
	}
}

.center-col {
	width: 900px;
	
	@media (max-width: 50em) {
		width: 100%;
	}

	.project-info {
		margin: 0 0 5% 0;

		p {
			font-size: 18px;
			font-weight: 500;
			font-family: $f-body;
			font-weight: 300;
			line-height: 1.5;
			padding: 10px 15px;
			text-align: center;
		}
		
		.project-button {
			position: relative;
			display: block;
		}
		a {
			width: 200px;
			display: block;
			margin: 0 auto;
			
			button {
				width: 100%;
				margin: 0 auto;
				display: inline-block;
				margin-top: 2%;
				padding-top: 10px;
				border: 1px solid $pri-gold;
				background-color: rgba(255, 255, 255, 0);
				
				&:before {
					color: $pri-gold;
				}

				span {
					display: inline-block;
					color: $pri-gold;
					font-weight: 300;
				}
			}
		}
	}

	.project-type {
		color: #9092A5;
		font-size: 12px;
		font-family: $font-sans-2;
		font-weight: 100;
		text-transform: $transform-up;
		text-align: center;
		padding: 0px 20px 7px 0px;
		
		@media (max-width: 39.813em) {
			text-align: center;
			padding-right: 0;
		}
	}

	.project-name {
		color: $pri-black;
		font-size: 36px;
		font-family: $font-ant;
		text-align: center;
		text-transform: $transform-up;
		padding: 0px 0px 7px 0px;

		@media (max-width: 39.813em) {
			text-align: center;
			padding-right: 0;
		}
	}

	.project-link {
		color: $pri-red;
		
		&:hover {
			color: darken($primary-blue, 15%);
		}
		
		@media (max-width: 39.813em) {
			text-align: center;
			margin: 2% auto;
			float: none;
			padding-right: 0;
		}
	}

	.project-images {
		width: 100%;
		display: inline-block;

		@media (max-width: $break2) {
			width: 96%;
		}

		img {
			height: auto;
			float: left;
			width: 98%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
			margin: 10px;
			border-radius: 5px;
		}
	}
}

