// Font Styles
$font-build: 			  "Building", sans-serif;
$font-komoda: 			  "Komoda", sans-serif;
$font-sixcaps:			  "Six caps", sans-serif;
$font-ant:				  "Antonio" , sans-serif;
$font-sans-2: 			  "lato", sans-serif;
$font-weight: 			  700;
$transform-up:       	  uppercase;

/* Sizes */
$font-base:          	  1em;
$font-large:        	  $font-base * 1.25; // ~20px ~1.250em
$font-small:         	  $font-base * 0.75; // ~13.6px ~0.850em
$font-mini:               $font-base * 0.65; // ~12px ~0.750em

/* Heading Styles */
$font-h1:            	  $font-base * 3;
$font-h2:            	  $font-base * 2.181;
$font-h3:            	  $font-base * 1.818;
$font-h4:            	  $font-base * 1.454;
$font-h5:            	  $font-base * 1.181;
$font-h6:            	  $font-base * 0.818;

@font-face {
	font-family: "Building";
	src: url("fonts/Building_Typeface.ttf") format('truetype');
}
@font-face {
	font-family: "Komaoda";
	src: url("fonts/Komada.otf") format('opentype');
}
@font-face {
	font-family: "Antionio";
	src: url("fonts/Antonio-Regular.ttf") format('truetype');
}