// ====================
// Font Styles
// ====================
$font-ant:				  "Antonio", "lato", sans-serif;
$font-sans-2: 			  "lato", sans-serif;

$font-weight: 			  700;
$transform-up:       	  uppercase;

// ====================
// Heading/Content Styles
// ====================
$f-body: 				  "Merriweather", serif;
$nav-font: 				  "lato", sans-serif;
$font-osw: 				  "Oswald", sans-serif;




// ====================
// Font-faces
// ====================

@font-face {
	font-family: "Antionio";
	src: url("fonts/Antonio-Regular.ttf");
}
@font-face {
	font-family: "Antionio";
	src: url("fonts/Antonio-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Antionio";
	src: url("fonts/Antonio-Light.ttf") format('truetype');
}

html {
	font-size: 1em;
}